page-welcome{

  .tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image { 
      margin: 18px 0;
    
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }

  h1{
    color: green;
  }

    .avater img{
       border-radius: 105px 105px 105px 105px;
      width: 215px;
       height: 215px;
    }

    .btn{
      padding-block-end: 1px;
    }
    
  
  }

  
  .body ion-item{
    margin: 0.5em;
    border-radius: 5px;
    width: 90%;
    background: none;
} 
.btnSign{ 
    background: none;
    border: 1px solid white;
    border-radius: 5px; 
    margin: 0.5em;
    width: 95%;
    padding: 0.5em;
}
}